@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 93%;
    --foreground: 42 5% 10%;
    --card: 42 12% 94%;
    --card-foreground: 42 5% 15%;
    --popover: 0, 0%, 93%;
    --popover-foreground: 42 95% 10%;
    --primary: 42 100% 70.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 216.9, 10.2%, 24.9%;
    --secondary-foreground: 217, 10%, 25%;
    --muted: 4 12% 94%;
    --muted-foreground: 42 5% 40%;
    --accent: 4 12% 90%;
    --accent-foreground: 42 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 42 5% 94%;
    --border: 42 20% 82%;
    --input: 42 20% 50%;
    --ring: 42 100% 70.6%;
    --radius: 0.75rem;
   }
  .dark {
    --background: 216, 5%, 5%;
    --foreground: 42 5% 90%;
    --card: 216, 5%, 5%;
    --card-foreground: 42 5% 90%;
    --popover: 216, 5%, 5%;
    --popover-foreground: 42 5% 90%;
    --primary: 42 100% 70.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 216.9, 10.2%, 24.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 4 12% 15%;
    --muted-foreground: 42 5% 60%;
    --accent: 4 12% 15%;
    --accent-foreground: 42 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 42 5% 90%;
    --border: 42 20% 18%;
    --input: 42 20% 18%;
    --ring: 42 100% 70.6%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
